.hero {
    padding-top: 200px; 
    padding-bottom: 200px; 
    text-align: center;
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover;

    &__title {
        margin-bottom: 30px;
        color:#FFFFFF;
    
        text-align: center;
    
        font-size: 44px;
        font-weight: 900;
        line-height: calc(60 / 44);
        text-transform: uppercase;
        letter-spacing: 0.06em;
    }
}
